.container {
  margin: auto;
  width: 50%;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
}

.add-btn {
  float: right;
  background-color: red;
  color: #ffffff;
}

.box:nth-of-type(odd) {
  background: #eee;
}
